// Support IE :(boolean)
$csshub_support-for-ie ?= true

// Set the base font size of the HTML page (px, pt, %)
$csshub_font-size ?= 100%

// Support retina display :(boolean)
$csshub_support-retina ?= true

// Enable data uri :(boolean)
$csshub_data-uri ?= false

// Grid options
// Extra small devices (phones, than 768px)
$csshub_device-xs-max ?= 767px

// Small devices (tablets, 768px and up)
$csshub_device-sm-min ?= 768px

// Medium devices (desktops, 992px and up)
$csshub_device-md-min ?= 992px

// Large devices (large desktops, 1200px and up)
$csshub_device-lg-min ?= 1200px